<!-- do  articles exist? -->
{{#if articles}}
<!-- they do -->
	{{>show-articles}} 

{{else}}
<!-- they do not -->
    <p>No articles saved! <a href="/">Look at some articles</a>, then click "Save".</p>
{{/if}}   